<h1>Costi interni dei dipendenti</h1>
<section>
<form name="employeeCostsForm" novalidate>
	<fieldset>
		<div class="top">

		</div>
		<div class="center">
			<div class="employee_costs">
				<h4>
					<button class="btn btn-default CSVExporter" ng-click="exportCSV()">
						Esporta CSV
					</button>
					<button class="btn btn-default XLSExporter" ng-click="exportXLS()">
						Esporta XLS
					</button>
				</h4>
				<table style="table-layout:fixed;">
				</table>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
