<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sensei reports</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/estimate/overview.css" rel="stylesheet">
    <link href="css/estimate/activeprojects.css" rel="stylesheet">
    <link href="css/estimate/ricerca.css" rel="stylesheet">
    <link href="css/estimate/projectdetail.css" rel="stylesheet">
    <link href="css/estimate/projectmodify.css" rel="stylesheet">
    <link href="vendor/ng-table/dist/ng-table.css" rel="stylesheet">
    <link href="vendor/angucomplete-alt/angucomplete-alt.css" rel="stylesheet">
    <link href="css/calendar/angular.css" rel="stylesheet" type="text/css">
    <link href="css/calendar/calendar.css" rel="stylesheet" type="text/css">
    <link href="css/calendar/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="css/calendar/pikaday.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:500,700' rel='stylesheet' type='text/css'>
    <link data-require="angular-material@0.10.1" data-semver="0.9.4" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/sidemenu.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/ng-table/dist/ng-table.js"></script>
    <script src="vendor/angucomplete-alt/angucomplete-alt.js"></script>
	  <script src="vendor/moment/moment.js" type="text/javascript"></script>
    <script src="vendor/d3/d3.js" type="text/javascript"></script>

    <script src="vendor/angular-aria/angular-aria.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-material/angular-material.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/services/lb-services.js"></script>
    <script src="js/services/hwlog-service.js"></script>
    <script src="js/services/crud-service.js"></script>
    <script src="js/app.js"></script>
    <script src="js/pikaday.js"></script>
    <script src="js/directives/calendar.js"></script>
    <script src="js/controllers/estimate/activeprojects.js"></script>
    <script src="js/controllers/estimate/overview.js"></script>
    <script src="js/controllers/estimate/ricerca.js"></script>
    <script src="js/controllers/estimate/projectdetail.js"></script>
    <script src="js/controllers/estimate/projectmodify.js"></script>
    <script src="js/controllers/ehourqueries/oremese.js"></script>
    <script src="js/controllers/ehourqueries/giornicommessautente.js"></script>
    <script src="js/controllers/ehourqueries/giornicommessa.js"></script>
    <script src="js/controllers/ehourqueries/giorni.js"></script>
    <script src="js/controllers/ehourqueries/giornicliente.js"></script>
    <script src="js/controllers/ehourqueries/giorniclienteprogetto.js"></script>


    <script src="js/app.modules.js"></script>
    <script src="js/services/menu.service.js"></script>
    <script src="js/controllers/home.controller.js"></script>
    <script src="js/directives/menu_toggle.directive.js"></script>
    <script src="js/directives/menulink.directive.js"></script>

  </head>
  <body ng-app="app">
    <div class="headers" role="navigation">
      <div class="headers-container">
        <div>
          <a ui-sref="overview">Overview</a>
        </div>
        <div>
          <a ui-sref="activeprojects">Progetti attivi</a>
        </div>
        <div>
          <a ui-sref="oremese">Ore mese</a>
        </div>
        <div>
          <a ui-sref="giornicommessautente">Giorni commessa utente</a>
        </div>
        <div>
          <a ui-sref="giornicommessa">Giorni commessa</a>
        </div>
        <div>
          <a ui-sref="giorni">Giorni</a>
        </div>
        <div>
          <a ui-sref="giornicliente">Giorni cliente</a>
        </div>
        <div>
          <a ui-sref="giorniclienteprogetto">Giorni cliente progetto</a>
        </div>
      </div>
    </div>

    <div class="bodycontent" ng-controller="HomeCtrl as vm">
      <div class="menuvert">

        <md-sidenav class="md-sidenav-left md-whiteframe-z1 menuvert-container"
          md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <md-content role="navigation" class="menuvert-content">
            <ul class="side-menu">
              <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                  ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                  {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
              </li>
            </ul>
          </md-content>
        </md-sidenav>

      </div>

      <div class="centerpage">
        <div ui-view="activeprojectsview"></div>
        <div ui-view="overviewview" class="calendar"></div>
        <div ui-view="ricercaview"></div>
        <div ui-view="projectdetailview"></div>
        <div ui-view="projectmodifyview"></div>
        <div ui-view="oremeseview"></div>
        <div ui-view="giornicommessautenteview"></div>
        <div ui-view="giornicommessaview"></div>
        <div ui-view="giorniview"></div>
        <div ui-view="giorniclienteview"></div>
        <div ui-view="giorniclienteprogettoview"></div>
      </div>
    </div>

  </body>
</html>
