form[name=projectCreateForm] div.top {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectCreateForm] div.top > div.customer {
  float: left;
  width: 350px;
}
form[name=projectCreateForm] div.top > div.project {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectCreateForm] div.top > div.budgettot {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectCreateForm] div.top p {
  width: 120px;
  display: inline-block;
}
form[name=projectCreateForm] div.top span {
  display: inline-block;
}
form[name=projectCreateForm] div.top input {
  display: inline-block;
}
form[name=projectCreateForm] div.top select {
  display: inline-block;
}

form[name=projectCreateForm] div.center {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectCreateForm] .center .budget_period {
	float: left;
	width: 480px;
	margin-right: 20px;
  margin-bottom: 10px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerfrom {
	float: left;
	width: 220px;
	margin-right: 10px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerfrom label {
  margin-top: 10px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerfrom img {
  margin-bottom: 3px;
  width: 26px;
	height: 26px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerto {
	float: left;
	width: 220px;
	margin-right: 10px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerto label {
  margin-top: 10px;
}
form[name=projectCreateForm] .center .budget_period > .datepickerto img {
  margin-bottom: 3px;
  width: 26px;
	height: 26px;
}

form[name=projectCreateForm] .center .budget_distrib {
	float: left;
	width: 480px;
	margin-right: 20px;
}
form[name=projectCreateForm] .center .budget_distrib div.budgetvalues {
	float: left;
	width: 450px;
	margin-right: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectCreateForm] .center .budget_distrib span.month {
	float: left;
  clear: both;
  font-size: 18px;
  padding-bottom: 10px;
}
form[name=projectCreateForm] .center .budget_distrib span.dateinterval {
	float: left;
  clear: both;
  font-size: 16px;
  padding-bottom: 10px;
}
form[name=projectCreateForm] .center .budget_distrib span.budgetvalues {
	float: left;
  font-size: 16px;
  padding-bottom: 10px;
}


form[name=projectCreateForm] .bottom {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
