form[name=ricercaForm] div.top {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=ricercaForm] div.top > div.customers {
  float: left;
  width: 200px;
}
form[name=ricercaForm] div.top > div.customers_search {
  float: left;
  width: 400px;
}

form[name=ricercaForm] div.center {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=ricercaForm] .center .results_table {
	float: left;
	width: 480px;
	margin-right: 20px;
}

.form-control-small {
    width: 80%;
}
.form-control-small {
    transition: width 0.5s ease-in-out 0s;
    width: 72%;
}
.form-control {
    background-color: #ffffff;
    border-color: #ececec;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    margin-bottom: 5px;
    outline: 0 none;
    padding: 6px;
    width: 95%;
}

.highlight {
    color: #ff0000;
}

div.search_results {
	margin-bottom: 8px;
}
div.search_results th {
	padding-left: 5px;
	padding-right: 20px;
	border: 1px solid black;
}
div.search_results td {
	padding-left: 5px;
	padding-right: 20px;
	border: 1px solid black;
}
