body {
  padding-top:0px;
  box-sizing: content-box;
}
.glyphicon-remove:hover {
  cursor:pointer
}

.headers {
  background-color: #165697;
  border-color: #080808;
  box-sizing: content-box;
}

.headers-container {
  margin-left: 250px;
}
.headers-container a {
	font-size: 16px;
  color: #e3e39d;
  text-transform: uppercase;
}
.headers-container a:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.headers-container > .headers-menu {
  border-left-color: cyan;
  border-left-width: medium;
  border-left-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.headers-container > .headers-menu.last {
  border-right-color: cyan;
  border-right-width: medium;
  border-right-style: solid;
}
.headers-menu > a.active {
  color: #fff;
}
.headers-menu .md-button {
  border-radius: 0;
  font-size: 16px;
  color: #e3e39d;
  cursor: pointer;
  font-weight: 400;
  line-height: inherit;
  min-height: inherit;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.headers-menu .md-button:hover,
.headers-menu .md-button:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.headers-menu-content {
  background-color: #165697;
  max-height: none;
  padding: 0;
}
.headers-menu-content button {
  min-width: 50px;
  margin: 0;
  font-size: 16px;
  text-transform: none;
}
.headers-menu-content a:hover,
.headers-menu-content button:hover {
  background-color: rgb(92, 220, 254);
}
.headers-menu-content button:not([disabled]),
.headers-menu-content button:hover:not([disabled]) {
  background-color: transparent;
}
.headers-menu-content md-menu-item {
  /*border-bottom-color: cyan;*/
  border-bottom-style: solid;
  background-color: #165697;
}
.headers-menu-content md-menu-item:hover {
  background-color: rgb(92, 220, 254);
}
.headers-menu-content md-menu-item a {
  padding-left: 12px;
  padding-right: 30px;
  font-size: 20px;
  color: #e3e39d;
}
.headers-menu-content md-menu-item a:hover,
.headers-menu-content md-menu-item a:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.headers-menu-content md-menu-item a span {
  color: #e3e39d;
}
.headers-menu-content md-menu-item a.active span {
  color: #fff;
}

/* ------------------------------------ */
.menuvert {
	width: 250px;
	margin-right: auto;
  margin-top: -68px;
  background-color: #165697;
  border-color: #080808;
  box-sizing: content-box;
  display: inline-block;
  float: left;
}

.menuvert .menuvert-container {
  min-width: inherit;
  max-width: none;
  width: auto;
  border-color: #080808;
  margin-top: 50px;
}

.menuvert .menuvert-container .menuvert-content {
  background-color: #165697;
  border-color: #080808;
}

.menuvert p {
  border-bottom-color: cyan;
  border-bottom-width: medium;
  border-bottom-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.menuvert img.sensei-logo-png {
  background-color: rgba(0, 0, 0, 1.0);
  width: 250px;
  padding: 16px;
}
.menuvert .menuvert-container .menuvert-content button {
	font-size: 20px;
  color: #e3e39d;
}
.menuvert .menuvert-container .menuvert-content button:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.centerpage {
  width: 1250px;
  padding-left: 40px;
  border-left-style: double;
  display: inline-block;
}

.csvsaverdiv {
  margin-bottom: 10px;
  height: 30px;
  display: block;
}
.csvsaver {
  float: right;
}
