body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}
.centerpage {
	float: left;
}
.headers-container {
  margin-left: 250px;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.headers-container > div {
  border-left-color: cyan;
  border-left-width: medium;
  border-left-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menuvert {
	float: left;
	width: 250px;
	height: 800px;
	margin-left: 20px;
	margin-right: auto;
	padding-top: 100px;
	border-right-style: double;
}
.menuvert p {
	margin-top: 5px;
}
.menuvert a {
	font-size: 20px;
}
