body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}
.costi {
	float: left;
	width: 300px;
}
.budget {
	float: left;
	width: 300px;
}
.calendar {
	float: left;
	width: 500px;
}
.note {
	float: left;
}