<h1>Crea un report con le ore lavorate del dipendente</h1>
<section>
<form name="employeeFilterForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group employees">
				<label>Dipendenti</label>
				<select
					ng-model="selectedEmployee"
					ng-options="employee as employee.cognomeDipendente for employee in employees"
					ng-change="onEmployeeChange()">
				</select>
			</div>
			<div class="form-group intervals">
				<div>
					<label>Settimana</label>
					<select
						ng-model="selectedWeek"
						ng-options="week as week.label for week in reportIntervals.weeks"
						ng-change="onWeekChange()">
					</select>
				</div>
				<div>
					<label>Mese</label>
					<select
						ng-model="selectedMonth"
						ng-options="month as month.label for month in reportIntervals.months"
						ng-change="onMonthChange()">
					</select>
				</div>
				<div>
					<label>Trimestre</label>
					<select
						ng-model="selectedQuarter"
						ng-options="quarter as quarter.label for quarter in reportIntervals.quarters"
						ng-change="onQuarterChange()">
					</select>
				</div>
			</div>
		</div>
		<div class="center">

			<div class="GreyBlueFrame">
        <!-- CUSTOMER SELECTION -->
        <div class="leftColumn">
					<div class="leftColumnHeader">
						<div class="foldIcon">
	            <a title="rimuovi selezione" ng-click="clearCustomersSelection()">
	              <img src="img/delete1_nobg.png" class="deleteIcon"></img>
	            </a>
	          </div>
						<div class="leftColumnTitle">
		          <b>Filtro cliente</b>
						</div>
					</div>

          <select multiple="multiple"
							name="customers"
							class="textInputSmall reportCriteriaDropdown"
							id="customersSelect"
							ng-model="selectedCustomers"
							ng-options="customer as customer.customerCodeName for customer in customers"
							ng-change="onCustomersChange()">
					</select>
          <br>
        </div>

        <!-- PROJECT SELECTION -->
        <div class="rightColumn">
					<div class="rightColumnHeader">
						<div class="foldIcon">
							<a title="rimuovi selezione" ng-click="clearProjectsSelection()">
								<img src="img/delete1_nobg.png" class="deleteIcon"></img>
							</a>
						</div>
						<div class="rightColumnTitle">
							<b>Filtro progetti</b>
						</div>
					</div>

					<select multiple="multiple"
							name="projects"
							class="textInputSmall reportCriteriaDropdown"
							id="projectsSelect"
							ng-model="selectedProjects"
							ng-options="project as project.projectCodeName for project in projects"
							ng-change="onProjectsChange()">
					</select>
          <br>
        </div>
        <br clear="all">
			</div>

		</div>
		<div class="bottom">
			<div class="form-group">
				<button class="btn btn-default" ng-click="viewReport()">
					Vai al report
				</button>
				<button class="btn btn-default" ng-click="viewChart()">
					Vai al grafico
				</button>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
