form[name=employeeFilterForm] div.top {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
form[name=employeeFilterForm] div.top > div.employees {
  float: left;
  width: 800px;
}
form[name=employeeFilterForm] div.top > div.intervals {
  float: left;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  display: flex;
}
form[name=employeeFilterForm] div.top > div.intervals > div {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
}
form[name=employeeFilterForm] div.top > div.intervals > div > label {
  padding-right: 5px;
  margin-top: 7px;
}

form[name=employeeFilterForm] div.center {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  width: 1100px;
}
form[name=employeeFilterForm] div.center div.GreyBlueFrame {
  background-color: #7280ca;
  margin-top: 15px;
  margin-bottom: 15px;
}
form[name=employeeFilterForm] div.center .leftColumn {
  float: left;
  padding-left: 10px;
  width: 48%;
}
form[name=employeeFilterForm] div.center .leftColumn b,
form[name=employeeFilterForm] div.center .leftColumn label {
  font-size: 20px;
  color: #e3e39d;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 4px 0 6px 0;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none;
}
form[name=employeeFilterForm] div.center .rightColumn {
  float: right;
  padding-right: 10px;
  width: 48%;
}
form[name=employeeFilterForm] div.center .rightColumn b,
form[name=employeeFilterForm] div.center .rightColumn label {
  font-size: 20px;
  color: #e3e39d;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 4px 0 6px 0;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none;
}

form[name=employeeFilterForm] div.center .foldIcon {
  float: right;
  padding-right: 5%;
  width: 32px;
}
form[name=employeeFilterForm] div.center .reportCriteriaDropdown {
  height: 180px;
  margin-bottom: 5px;
  width: 95%;
}
form[name=employeeFilterForm] div.center .textInputSmall {
    background-color: white !important;
    border: 1px solid #b3c0cb;
    border-radius: 4px;
    color: #233e55;
    font: 1em Geneva,Arial,Helvetica,sans-serif;
    margin: 0;
}
form[name=employeeFilterForm] div.center .toggleLabel {
    float: left;
    width: 40%;
}

.highlight {
    color: #ff0000;
}

form[name=employeeFilterForm] .bottom {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
