section.ehourtables div.top {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  /*border-bottom: 1px solid black;*/
}
section.ehourtables div.center {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

section.ehourtables div.center .saverdiv {
  margin-bottom: 10px;
  height: 30px;
  display: block;
}
section.ehourtables div.center .saverdiv .csvsaver {
  float: right;
}
section.ehourtables div.center .saverdiv .xlssaver {
  float: right;
  margin-right: 6px;
}

section.ehourtables div.center .grouping {
  background-color: #165697;
}
section.ehourtables div.center .grouping .groupingLegend {
  color: #e3e39d;
}
section.ehourtables div.center .grouping .groupingLegend h4 {
  margin-left: 10px;
}
section.ehourtables div.center .grouping .item-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  line-height: normal;
}
section.ehourtables div.center .grouping .item-checkbox .md-label span {
  color: #e3e39d;
}
section.ehourtables div.center .grouping .item-checkbox .md-icon {
  border-color: #e3e39d;
}
section.ehourtables div.center .grouping .item-checkbox.md-checked .md-icon {
  background-color: #2088ff;
}

table.ehourdata td {
  font-family: Arial;
}

/* ------------------------ */
/* --- specific tables ---- */
/* ------------------------ */
section#ggcommessautente table thead
tr.ng-table-sort-header th:nth-child(1) {
  width: 80px;
}
section#ggcommessautente table thead
tr.ng-table-sort-header th:nth-child(3),
section#ggcommessautente table thead
tr.ng-table-sort-header th:nth-child(4) {
  width: 170px;
}
section#ggcommessautente table tfoot tr td:nth-child(6) {
  white-space: nowrap;
}
