<h1>Crea un report per dipendente</h1>
<section>
<form class="csvsaverdiv">
	<button class="btn btn-default csvsaver" ng-click="export()">
		Esporta excel
	</button>
</form>
<form name="employeeReportForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group employees">
				<label>Dipendenti</label>
				<select
					ng-model="selectedEmployee"
					ng-options="employee as employee.cognomeDipendente for employee in employees"
					ng-change="onEmployeeChange()">
				</select>
			</div>
			<div class="form-group intervals">
				<div>
					<label>Settimana</label>
					<select
						ng-model="selectedWeek"
						ng-options="week as week.label for week in reportIntervals.weeks"
						ng-change="onWeekChange()">
					</select>
				</div>
				<div>
					<label>Mese</label>
					<select
						ng-model="selectedMonth"
						ng-options="month as month.label for month in reportIntervals.months"
						ng-change="onMonthChange()">
					</select>
				</div>
				<div>
					<label>Trimestre</label>
					<select
						ng-model="selectedQuarter"
						ng-options="quarter as quarter.label for quarter in reportIntervals.quarters"
						ng-change="onQuarterChange()">
					</select>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="search_results">
				<h4>Dettaglio delle ore caricate da:
					{{selectedEmployee.cognomeDipendente}}
					{{selectedEmployee.nomeDipendente}}
				</h4>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
