<h1>Aggiungi budget</h1>
<hr>
<section>
<form name="budgetForm" novalidate>
	<fieldset>

      <div class="form-group">
        <label>NUovo budget</label>
        <div>
        	<label>Id</label>
        	<input type="number" name="id" min="1" max="50" ng-model="budget.id"></input>
        </div>
        <div>
        	<label>Mese</label>
        	<textarea ng-model="budget.month"></textarea>
        </div>
        <div>
        	<label>Importo</label>
        	<textarea ng-model="budget.amount"></textarea>
        </div>
      </div>	  
	  
	  <div class="form-group">
	  	<button class="btn btn-default" ng-click="getBudget()">Carica nuovo budget</button>
	  	<button class="btn btn-default" ng-click="saveBudget()">Salva nuovo budget</button>
	  	<button class="btn btn-default" ng-click="createBudget()">Crea nuovo budget</button>
	  </div>
  	</fieldset>
</form>
<hr>
</section>