<h1>Calendario</h1>
<hr>
<section>
<form name="calendarForm" novalidate>
	<fieldset>
		<div class="hereweare_calendar">
		
			<div class="form-group">
			  <label>Progetti</label>
			  <select
			      ng-model="selectedProject"
			      ng-options="project as project.name for project in projects"
			      ng-change="onProjectChange(selectedProject)">
			  </select>
			</div>
			
			<span></span>
			
			<div class="budget_period">
				<div class="controls">			
					<h4>Scegli l'intervallo</h4>
					<button class="btn btn-default" ng-click="getFrom()">Da</button>
					<button class="btn btn-default" ng-click="getTo()">A</button>
					<input class="ng-binding" ng-model="selectedProject.from"></input>
					<input class="ng-binding" ng-model="selectedProject.to"></input>
				</div>
				<div class="calendar">
					<calendar class="ng-isolate-scope" selected="day" from="isFrom" to="isTo" dayfrom="selectedProject.from" dayto="selectedProject.to"></calendar>
				</div>
			</div>
			
			<span></span>
		
			<div class="budget">
				<p>Budget totale: <input class="ng-binding" ng-model="selectedProject.budgettot"></input></p>
			</div>
			
			<span></span>
		
			<div class="budget_distrib">
				<button class="btn btn-default" ng-click="getBudgets(selectedProject.budgettot,selectedProject.from,selectedProject.to)">Ripartisci il budget sul periodo</button>
				<p ng-repeat="budget in selectedProject.budgets">
					{{budget.month}}
					<span>
						Da: <input class="ng-binding" ng-model="budget.from"></input>
					</span>
					<span>
						A: <input class="ng-binding" ng-model="budget.to"></input>
					</span>
					<input class="ng-binding" ng-model="budget.amount"></input>
				</p>
			</div>
			
			<span></span>
			
			<div class="form-group">
				<button class="btn btn-default" ng-click="save()">Salva progetto</button>
				<button class="btn btn-default" ng-click="saveBudgets()">Salva budgets</button>				
			</div>
			
			<span></span>
			
		</div>
	</fieldset>
</form>
<hr>
</section>