<h1>Budget e consuntivo costi</h1>
<hr>
<section>
<form name="costiForm" novalidate ng-submit="save()">
	<fieldset>
	  <!-- div class="form-group" ng-class="{'has-error': costiForm.content.$invalid && costiForm.content.$dirty}">
	    <input type="text" class="form-control focus" name="content"
	        placeholder="Content" autocomplete="off" required
	        ng-model="newTodo.content">
	    <span class="has-error control-label" ng-show="
	        costiForm.content.$invalid && costiForm.content.$dirty">
	      Content is required.
	    </span>
	  </div-->
	  
	  <div class="form-group">
        <label>Clienti</label>
        <select ng-disabled="isCustomerDisabled"
            ng-model="selectedCustomer"
            ng-options="customer as customer.name for customer in customers"
            ng-change="onCustomerChange(selectedCustomer)">
        </select>
      </div>
      
	  <div class="form-group">
        <label>Progetti</label>
        <select ng-disabled="isProjectDisabled"
            ng-model="selectedProject"
            ng-options="project as project.name for project in projects"
            ng-change="onProjectChange(selectedProject)">
        </select>
      </div>

      <div class="form-group">
        <label>Budgets mensili</label>
        <div>
        	<label>Gennaio</label>
        	<textarea ng-model="selectedProject.budgets[0].amount"></textarea>
        </div>
        <div>
        	<label>Febbraio</label>
        	<textarea ng-model="selectedProject.budgets[1].amount"></textarea>
        </div>
        <div>
        	<label>Marzo</label>
        	<textarea ng-model="selectedProject.budgets[2].amount"></textarea>
        </div>
      </div>

      <!-- div class="form-group">
        <label>Comments</label>
        <textarea ng-model="review.comments"></textarea>
      </div-->
	  
	  
	  <button class="btn btn-default" ng-disabled="costiForm.$invalid">Save</button>
  	</fieldset>
</form>
<hr>
<!-- div class="list-group">
  <a class="list-group-item" ng-repeat="todo in todos">{{todo.content}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ng-click="removeTodo(todo)"></i></a>
</div-->
</section>