<div class="list-group">	
	<div ng-controller="GiorniCommessaController as oremese">
	  <h2 class="page-header">Giorni lavorati per commessa nel mese</h2>
	  <table ng-table="oremese.tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
		<tr ng-repeat="row in $data">
		  <td data-title="'anno'" filter="{anno: 'text'}" sortable="'anno'">{{row.anno}}</td>
		  <td data-title="'mese'" filter="{mese: 'text'}" sortable="'mese'">{{row.mese}}</td>
		  <td data-title="'nomeCliente'" filter="{nomeCliente: 'text'}" sortable="'nomeCliente'">{{row.nomeCliente}}</td>
		  <td data-title="'codiceProgetto'" filter="{codiceProgetto: 'text'}" sortable="'codiceProgetto'">{{row.codiceProgetto}}</td>
		  <td data-title="'nomeProgetto'" filter="{nomeProgetto: 'text'}" sortable="'nomeProgetto'">{{row.nomeProgetto}}</td>
		  <td data-title="'giornateMese'" filter="{giornateMese: 'text'}" sortable="'giornateMese'">{{row.giornateMese}}</td>
		</tr>
	  </table>
	</div>
</div>