<h1>Ricerca il progetto</h1>
<hr>
<section>
<form name="ricercaForm" novalidate>
	<fieldset>
		<div class="top">		
			<div class="form-group customers">
				<label>Clienti</label>
				<angucomplete-alt 
					id="customers" 
					placeholder="Cerca cliente"
					pause="400"
					selected-object="selectedCustomer"
					minlength="1"
					maxlength="50"					
					remote-url="http://localhost:3000/api/customers/autocompleteByName"					
					remote-url-request-formatter="appendName"					
					remote-url-data-field="customers"
					title-field="name"
					description-field="id"
					image-field=""				
					input-class="form-control form-control-small"
					match-class="highlight"
				/>
			</div>			
			
			<div class="form-group action">
				<button class="btn btn-default" ng-click="search(selectedCustomer.originalObject)">Ricerca</button>
			</div>			
		</div>
		<div class="center">
			<div class="search_results">
				<h4>Elenco dei progetti</h4>
				<!-- div class="controls">
					<button class="btn btn-default" ng-click="getFrom()">Da</button>
					<button class="btn btn-default" ng-click="getTo()">A</button>
					<input class="ng-binding" ng-model="selectedProject.from"></input>
					<input class="ng-binding" ng-model="selectedProject.to"></input>
				</div-->				
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>