section[id=newprojects] div.top {
  font-family: Arial;
  font-size: 14px;
  width: 1200px;
  float: left;
  margin-bottom: 10px;
  /*border-bottom: 1px solid black;*/
}
section[id=newprojects] div.top table {
  margin-top: 20px;
  margin-bottom: 20px;
}
section[id=newprojects] div.top th {
	padding-left: 5px;
	padding-right: 20px;
	border: 1px solid black;
}

section[id=newprojects] div.center {
  font-family: Arial;
  font-size: 14px;
  width: 1200px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
section[id=newprojects] div.center .customer {
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  border-bottom-color: gray;
}
section[id=newprojects] div.center table {
  margin-top: 20px;
  margin-bottom: 20px;
}
section[id=newprojects] div.center th {
	padding-left: 5px;
	padding-right: 20px;
	border: 1px solid black;
}
section[id=newprojects] div.center td {
	padding-left: 5px;
	padding-right: 20px;
	border: 1px solid black;
}
