section[id=activeprojects] div.center {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
section[id=activeprojects] div.center table {
  margin-top: 20px;
}
