  form[name=projectDetailForm] div.top {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectDetailForm] div.top > div.customer {
  float: left;
  width: 350px;
}
form[name=projectDetailForm] div.top > div.project {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectDetailForm] div.top > div.budgettot {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectDetailForm] div.top p {
  width: 120px;
  display: inline-block;
}
form[name=projectDetailForm] div.top span {
  display: inline-block;
}

/*------- center -----*/
form[name=projectDetailForm] div.center {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectDetailForm] div.center table {
  margin-top: 20px;
}

form[name=projectDetailForm] .bottom {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
