form[name=projectModifyForm] div.top {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectModifyForm] div.top > div.customer {
  float: left;
  width: 350px;
}
form[name=projectModifyForm] div.top > div.project {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectModifyForm] div.top p {
  width: 120px;
  display: inline-block;
}
form[name=projectModifyForm] div.top span {
  display: inline-block;
}
form[name=projectModifyForm] div.top input {
  display: inline-block;
  font-size: 14px;
  color: #555;
  height: 34px;
  line-height: 1.42857;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
form[name=projectModifyForm] div.top select {
  display: inline-block;
}
form[name=projectModifyForm] div.top p.errormessage {
  color: #a94442;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 300px;
}

/* ----- center --------- */
form[name=projectModifyForm] .center {
  font-family: Arial;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectModifyForm] .center .budget_def {
  float: left;
  width: 1000px;
}
form[name=projectModifyForm] .center .budget_def .budgettot {
  float: left;
  width: 350px;
  margin-right: 20px;
}
form[name=projectModifyForm] .center .budget_def .budget_period {
	float: left;
	width: 480px;
	margin-right: 20px;
  margin-bottom: 10px;
}
form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerfrom {
	float: left;
	width: 220px;
	margin-right: 10px;
}
form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerfrom label {
  margin-top: 10px;
}
form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerfrom img {
  margin-bottom: 3px;
  width: 26px;
	height: 26px;
}

form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerto {
	float: left;
	width: 220px;
	margin-right: 10px;
}
form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerto label {
  margin-top: 10px;
}
form[name=projectModifyForm] .center .budget_def
.budget_period .datepickerto img {
  margin-bottom: 3px;
  width: 26px;
	height: 26px;
}

form[name=projectModifyForm] .center .budget_distrib {
	float: left;
	width: 1000px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues {
	float: left;
  clear: both;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.header {
  float: left;
  font-size: 18px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.header span.month {
  float: left;
  font-size: 18px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.header .dateinterval {
	float: left;
  display: inline;
  vertical-align: bottom;
  margin-left: 5px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.header .dateinterval span {
  font-size: 16px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.globaldetail {
	float: left;
  clear: both;
  line-height: 40px;
  margin-bottom: 3px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.globaldetail label {
  height: 30px;
  margin-bottom: 0;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.globaldetail input {
	width: 100px;
  height: 30px;
}

form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.windowdetail {
	float: left;
  clear: both;
  line-height: 40px;
  margin-bottom: 3px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.windowdetail table {
  border-collapse: separate;
  border-spacing: 2px;
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.windowdetail table td {
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  /*float:left;
  margin-right: 20px;*/
}
form[name=projectModifyForm] .center .budget_distrib .budgetvalues
.windowdetail table td:nth-child(1) {
  line-height: 25px;
  width: 65px;
  text-align: left;
  border: none;
  /*float:left;
  margin-right: 20px;*/
}


form[name=projectModifyForm] .center p.errormessage {
  color: #a94442;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 200px;
}

/* ---- bottom ---------- */
form[name=projectModifyForm] .bottom {
  font-family: Arial;
  font-size: 14px;
  width: 1000px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
form[name=projectModifyForm] .bottom p.errormessage {
  color: #a94442;
  background-color: #b88888;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 200px;
  font-size: 20px;
}

form[name=projectModifyForm] .spacer {
	float: left;
	width: 1000px;
  height: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: #23e2ea;
  margin-top: 5px;
  margin-bottom: 5px;
}
