<h1>Ore e Giornate erogate per commessa e per dipendente</h1>
<hr>
<section id="ggcommessautente" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniCommessaUtenteController as ggCommessaUtCtrl">
				<!-- <div class="csvsaverdiv"> -->
				<form class="saverdiv">
					<!--input id="XLSreader" name="XLSreader" type="file">Carica un excel</input-->
					<button class="btn btn-default csvsaver" ng-click="saveCSV()">
						Esporta CSV
					</button>
					<button class="btn btn-default xlssaver" ng-click="saveXLS()">
						Esporta XLS
					</button>
				</form>

				<form class="grouping">
					<div layout="row" layout-wrap flex>
						<div class="groupingLegend" flex="15">
							<h4>
								Raggruppa per:
							</h4>
						</div>
						<div class="groupingCheckboxes" layout="row" flex>
							<md-checkbox class="item-checkbox"
								ng-repeat="item in tableGrouping.items"
								ng-checked="tableGrouping.exists(item, tableGrouping.selected)"
								ng-click="tableGrouping.toggle(item, tableGrouping.selected)">
								{{ item.label }}
							</md-checkbox>
						</div>
					</div>
				</form>

				<!-- <table ng-table="ggCommessaUtCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					show-filter="true" show-group="true"> -->
				<table ng-table="ggCommessaUtCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					show-filter="true">

					<tr class="ng-table-group" ng-repeat-start="group in $groups">
						<td colspan="8">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="glyphicon"
									ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">
								</span>
								<strong>{{ group.value }}</strong>
							</a>
						</td>
					</tr>

					<tr ng-hide="group.$hideRows" ng-repeat="row in group.data">
					  <td data-title="'ANNO'" filter="{anno: 'text'}" sortable="'anno'">{{row.anno}}</td>
					  <!--td data-title="'MESE'" filter="ggCommessaUtCtrl.monthFilterByInterval" sortable="'mese'" groupable="'mese'" show="true">{{row.mese}}</td-->
						<td data-title="'MESE'" filter="ggCommessaUtCtrl.monthFilterByInterval" sortable="'mese'">{{row.mese}}</td>
					  <td data-title="'CLIENTE'" filter="{nomeCliente: 'text'}" sortable="'nomeCliente'">{{row.nomeCliente}}</td>
					  <td data-title="'CODICE PROGETTO'" filter="{codiceProgetto: 'text'}" sortable="'codiceProgetto'">{{row.codiceProgetto}}</td>
					  <td data-title="'PROGETTO'" filter="{nomeProgetto: 'text'}" sortable="'nomeProgetto'">{{row.nomeProgetto}}</td>
					  <td data-title="'NOME'" filter="{nomeDipendente: 'text'}" sortable="'nomeDipendente'">{{row.nomeDipendente}}</td>
						<td data-title="'COGNOME'" filter="{cognomeDipendente: 'text'}" sortable="'cognomeDipendente'">{{row.cognomeDipendente}}</td>
						<td data-title="'ORE'" sortable="'oreMese'">{{row.oreMese}}</td>
						<td data-title="'GIORNATE'" sortable="'giornateMese'">{{row.giornateMese}}</td>
					</tr>

					<tr class="ggcommessautenteTableTotals" ng-repeat-end>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-success text-right">
							<strong>Totali:</strong>
						</td>
            <td>
							<em>{{ sumGrouped(group.data, "oreMese") }}</em>
						</td>
						<td>
							<em>{{ sumGrouped(group.data, "giornateMese") }}</em>
						</td>
        	</tr>

					<tfoot ng-if="isLastPage()">
	          <tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="text-success text-right">
								<strong>Totali complessivi:</strong>
							</td>
	            <td>
								<em>{{ totalHours }}</em>
							</td>
							<td>
								<em>{{ totalDays }}</em>
							</td>
	          </tr>
	        </tfoot>

			  </table>
			</div>
		</div>
	</div>
	<hr>
</section>
