<h1>Giornate erogate</h1>
<hr>
<section id="giorni" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniController as oremese">
			  <table ng-table="oremese.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					show-filter="true">
				<tr ng-repeat="row in $data">
				  <td data-title="'ANNO'" filter="{anno: 'text'}" sortable="'anno'">{{row.anno}}</td>
				  <td data-title="'MESE'" filter="{mese: 'text'}" filter-data="'8'" sortable="'mese'">{{row.mese}}</td>
				  <td data-title="'GIORNATE EROGATE'" sortable="'giornateMese'">{{row.giornateMese}}</td>
				</tr>
			  </table>
			</div>
		</div>
	</div>
	<hr>
</section>
