<h1>Giornate erogate per commessa e per dipendente</h1>
<hr>
<section id="ggcommessautente" class="ehourtables">
	<div class="top">
	</div>
	<div class="center">
		<div class="list-group">
			<div ng-controller="GiorniCommessaUtenteController as ggCommessaUtCtrl">
				<!-- <div class="csvsaverdiv"> -->
				<form class="csvsaverdiv">
					<!--input id="XLSreader" name="XLSreader" type="file">Carica un excel</input-->
					<button class="btn btn-default csvsaver" ng-click="saveAllCSV()">Esporta excel</button>
				</form>
			  <table ng-table="ggCommessaUtCtrl.tableParams"
					class="table table-bordered table-striped table-condensed ehourdata"
					show-filter="true">

					<tr class="ng-table-group" ng-repeat-start="group in $groups">
						<td colspan="8">
							<a href="" ng-click="group.$hideRows = !group.$hideRows">
								<span class="glyphicon"
									ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }">
								</span>
								<strong>{{ group.value }}</strong>
							</a>
						</td>
					</tr>

					<tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
					  <td data-title="'ANNO'" filter="{anno: 'text'}" sortable="'anno'">{{row.anno}}</td>
					  <td data-title="'MESE'" filter="ggCommessaUtCtrl.monthFilterByInterval" sortable="'mese'">{{row.mese}}</td>
					  <td data-title="'CLIENTE'" filter="{nomeCliente: 'text'}" sortable="'nomeCliente'">{{row.nomeCliente}}</td>
					  <td data-title="'CODICE PROGETTO'" filter="{codiceProgetto: 'text'}" sortable="'codiceProgetto'">{{row.codiceProgetto}}</td>
					  <td data-title="'PROGETTO'" filter="{nomeProgetto: 'text'}" sortable="'nomeProgetto'">{{row.nomeProgetto}}</td>
					  <td data-title="'NOME'" filter="{nomeDipendente: 'text'}" sortable="'nomeDipendente'">{{row.nomeDipendente}}</td>
						<td data-title="'COGNOME'" filter="{cognomeDipendente: 'text'}" sortable="'cognomeDipendente'">{{row.cognomeDipendente}}</td>
						<td data-title="'GIORNATE EROGATE'" sortable="'giornateMese'">{{row.giornateMese}}</td>
					</tr>
			  </table>
			</div>
		</div>
	</div>
	<hr>
</section>
