<h1>Overview progetti</h1>
<hr>
<section>
<form name="estimateForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group customers">
				<p>Clienti</p>
				<select
					ng-model="selectedCustomer"
					ng-options="customer as customer.name for customer in customers"
					ng-change="onCustomerChange(selectedCustomer)">
				</select>
			</div>

			<div class="form-group projects">
				<p>Progetti</p>
				<select
					ng-model="selectedProject"
					ng-options="project as project.name for project in selectedCustomer.projects"
					ng-change="onProjectChange(selectedProject)">
				</select>
			</div>
		</div>
		<div class="top">
			<div class="form-group budgettot">
				<p>Budget totale:</p>
				<input class="ng-binding" ng-model="selectedProject.budgettot"></input>
			</div>
			<div class="form-group budgettot">
				<p>Giorni totali:</p>
				<input class="ng-binding" ng-model="selectedProject.daystot"></input>
			</div>
		</div>
		<div class="center">
			<div class="search_results">
				<h4>Preventivo e consuntivo per periodo</h4>
			</div>
		</div>
		<div class="bottom">
			<div class="form-group">
				<button class="btn btn-default" ng-click="modify()">Modifica progetto</button>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
