<h1>Previsione costi per i progetti</h1>
<hr>
<section>
<form name="estimateForm" novalidate>
	<fieldset>
		<div class="top">		
			<div class="form-group customers">
				<label>Clienti</label>
				<select
					ng-model="selectedCustomer"
					ng-options="customer as customer.name for customer in customers"
					ng-change="onCustomerChange(selectedCustomer)">
				</select>
			</div>
		
			<div class="form-group projects">
				<label>Progetti</label>
				<select
					ng-model="selectedProject"
					ng-options="project as project.name for project in selectedCustomer.projects">
				</select>
			</div>
			
			<div class="form-group budgettot">
				<p>Budget totale: <input class="ng-binding" ng-model="selectedProject.budgettot"></input></p>
			</div>			
		</div>
		<div class="center">
			<div class="budget_period">
				<div class="controls">			
					<h4>Scegli l'intervallo</h4>
					<button class="btn btn-default" ng-click="getFrom()">Da</button>
					<button class="btn btn-default" ng-click="getTo()">A</button>
					<input class="ng-binding" ng-model="selectedProject.from"></input>
					<input class="ng-binding" ng-model="selectedProject.to"></input>
				</div>
				<div class="calendar">
					<calendar class="ng-isolate-scope" selected="day" from="isFrom" to="isTo" selectedfrom="selectedProject.from" selectedto="selectedProject.to"></calendar>
				</div>
			</div>			
			
			<div class="budget_distrib">
				<button class="btn btn-default" ng-click="getBudgets(selectedProject.budgettot,selectedProject.from,selectedProject.to)">Ripartisci il budget sul periodo</button>
				<p ng-repeat="budget in selectedProject.budgets">
					{{budget.month}}
					<span>
						Da: <input class="ng-binding" ng-model="budget.from"></input>
					</span>
					<span>
						A: <input class="ng-binding" ng-model="budget.to"></input>
					</span>
					<input class="ng-binding" ng-model="budget.amount"></input>
				</p>
			</div>		
		</div>
		<div class="bottom">			
			<div class="form-group">
				<button class="btn btn-default" ng-click="save()">Salva progetto</button>
				<button class="btn btn-default" ng-click="saveBudgets()">Salva budgets</button>				
			</div>		
		</div>
	</fieldset>
</form>
<hr>
</section>