<h1>Overview progetti</h1>
<hr>
<section>
<form name="estimateForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group customers">
				<p>Clienti</p>
				<select
					ng-model="selectedCustomer"
					ng-options="customer as customer.name for customer in customers"
					ng-change="onCustomerChange(selectedCustomer)">
				</select>
			</div>

			<div class="form-group projects">
				<p>Progetti</p>
				<select
					ng-model="selectedProject"
					ng-options="project as project.name for project in selectedCustomer.projects"
					ng-change="onProjectChange(selectedProject)">
				</select>
			</div>
		</div>
		<div class="top">
			<div class="form-group projectcode">
				<p>Codice progetto:</p>
				<span>
					<b>{{selectedProject.code}}</b>
				</span>
			</div>
			<div class="form-group projectmanager">
				<p>Responsabile:</p>
				<span>
					<b>{{selectedProject.managerName}}-{{selectedProject.managerFirstName}}</b>
				</span>
				<span>
					<b>{{selectedProject.managerEmail}}</b>
				</span>
			</div>
		</div>
		<div class="top">
			<div class="form-group budgettot">
				<p>Budget totale:</p>
				<span>{{selectedProject.budgettot}}</span>
			</div>
			<div class="form-group budgettot">
				<p>Giorni totali:</p>
				<span>{{selectedProject.daystot}}</span>
			</div>
		</div>
		<div class="center">
			<div class="search_results">
				<h4>Preventivo e consuntivo per periodo</h4>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
