<h1>Modifica progetto {{project.name}}</h1>
<hr>
<section>
<form name="projectCreateForm" novalidate>
	<fieldset>
		<div class="top">		
			<div class="form-group customer">
				<span>
					Nome cliente: <input class="ng-binding" ng-model="customer.name"></input>
				</span>
			</div>
		</div>
		<div class="top">
			<div class="form-group project">
				<span>
					Nome progetto: <input class="ng-binding" ng-model="project.name"></input>
				</span>
			</div>
			<div class="form-group project">
				<span>
					Codice progetto: <input class="ng-binding" ng-model="project.code"></input>
				</span>
			</div>
		</div>	
		<div class="top">
			<div class="form-group budgettot">
				<p>Budget totale: <input class="ng-binding" ng-model="project.budgettot"></input></p>
			</div>
			<div class="form-group budgettot">
				<p>Giorni totali: <input class="ng-binding" ng-model="project.daystot"></input></p>
			</div>
		</div>
		<div class="center">
			<div class="budget_period">
				<div class="controls">			
					<h4>Scegli l'intervallo</h4>
					<button class="btn btn-default" ng-click="getFrom()">Da</button>
					<button class="btn btn-default" ng-click="getTo()">A</button>
					<input class="ng-binding" ng-model="project.from"></input>
					<input class="ng-binding" ng-model="project.to"></input>
				</div>
				<div class="calendar">
					<calendar class="ng-isolate-scope" selected="day" from="isFrom" to="isTo" selectedfrom="project.from" selectedto="project.to"></calendar>
				</div>
			</div>
			
			<div class="budget_distrib">
				<button class="btn btn-default" ng-click="getBudgets(project.budgettot,project.daystot,project.from,project.to)">Ripartisci il budget sul periodo</button>
				<p ng-repeat="budget in project.budgets">
					<span>
						{{budget.month}}
					</span>					
					<span>
						Da: <input class="ng-binding" ng-model="budget.from"></input>
					</span>
					<span>
						A: <input class="ng-binding" ng-model="budget.to"></input>
					</span>
					<span>
						<input class="ng-binding" ng-model="budget.amount"></input>
					</span>
					<span>
						<input class="ng-binding" ng-model="budget.days"></input>
					</span>
				</p>
			</div>		
		</div>
		<div class="bottom">			
			<div class="form-group">
				<button class="btn btn-default" ng-click="save()">Salva progetto</button>		
			</div>		
		</div>
	</fieldset>
</form>
<hr>
</section>