<h1>Dati del progetto {{project.name}}</h1>
<hr>
<section>
<form name="projectDetailForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group customer">
				<p>Nome cliente:</p>
				<span>{{customer.name}}</span>
			</div>
		</div>
		<div class="top">
			<div class="form-group project">
				<p>Nome progetto:</p>
				<span>{{project.name}}</span>
			</div>
			<div class="form-group project">
				<p>Codice progetto:</p>
				<span>{{project.code}}</span>
			</div>
		</div>
		<div class="top">
			<div class="form-group budgettot">
				<p>Budget totale:</p>
				<span>{{project.budgettot}}</span>
			</div>
			<div class="form-group budgettot">
				<p>Giorni totali:</p>
				<span>{{project.daystot}}</span>
			</div>
		</div>
		<div class="center">
			<div class="search_results">
				<h4>Preventivo e consuntivo per periodo</h4>
			</div>
		</div>
		<div class="bottom">
			<div class="form-group">
				<button class="btn btn-default" ng-click="modify()">Modifica progetto</button>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
