<h1>Modifica progetto {{project.name}}</h1>
<hr>
<section>
<form name="projectModifyForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group customer">
				<p>Nome cliente:</p>
				<input class="ng-binding" ng-model="customer.name"></input>
			</div>
		</div>
		<div class="top">
			<div class="form-group project" ng-class="{'has-error' : projectModifyForm.projectname.$invalid && submitted}">
				<p>Nome progetto:</p>
				<input class="ng-binding" ng-model="project.name" name="projectname" required></input>
				<p ng-show="projectModifyForm.projectname.$invalid && submitted" class="errormessage">
					Inserisci il nome del progetto</p>
			</div>
			<div class="form-group project" ng-class="{'has-error' : projectModifyForm.projectcode.$invalid && submitted}">
				<p>Codice progetto:</p>
				<input class="ng-binding" ng-model="project.code" name="projectcode" required></input>
				<p ng-show="projectModifyForm.projectcode.$invalid && submitted" class="errormessage">
					Inserisci il codice del progetto</p>
			</div>
		</div>
		<div class="center">
			<div class="budget_def">
				<div class="budget_def_left">
					<div class="form-group budgettot" ng-class="{'has-error' : projectModifyForm.projectbudgettot.$invalid && submitted}">
						<p>Budget totale:</p>
						<input class="ng-binding" ng-model="project.budgettot" name="projectbudgettot" required></input>
						<p ng-show="projectModifyForm.projectbudgettot.$invalid && submitted" class="errormessage">
							Inserisci il budget totale del progetto</p>
					</div>
					<div class="form-group daystot">
						<p>Giorni totali:</p>
						<input class="ng-binding" ng-model="project.daystot" name="projectdaystot"></input>
					</div>
					<div class="budget_period">
						<h4>Scegli l'intervallo</h4>
						<div class="datepickerfrom">
							<label for="datepickerfrom">Da:</label>
							<input class="ng-binding" id="datepickerfrom" type="text"
										ng-model="project.from" size="10" name="datepickerfrom"
										ng-blur="getBudgets(project.budgettot, project.from, project.to)" required>
							<img src="./../../img/datepik.gif" ng-click="datepickerfrom.show()"></img>
							<p ng-show="projectModifyForm.datepickerfrom.$invalid && submitted" class="errormessage">
								Inserisci la data di inizio progetto</p>
						</div>
						<div class="datepickerto">
							<label for="datepickerto">A:</label>
							<input class="ng-binding" id="datepickerto" type="text"
										ng-model="project.to" size="10" name="datepickerto"
										ng-blur="getBudgets(project.budgettot, project.from, project.to)" required>
							<img src="./../../img/datepik.gif" ng-click="datepickerto.show()"></img>
							<p ng-show="projectModifyForm.datepickerto.$invalid && submitted" class="errormessage">
								Inserisci la data di fine progetto</p>
						</div>
					</div>
				</div>
				<div class="budget_def_right">
					<div class="team_choice">
						<div class="team">
							<div class="team_header">
								<h3>Team</h3>
							</div>
							<div class="team_body">
								<ul dnd-list="projectTeam.members"
								    dnd-allowed-types="projectTeam.allowedTypes">
								    <li ng-repeat="mem in projectTeam.members"
								        dnd-draggable="mem"
								        dnd-type="mem.type"
								        dnd-disable-if="mem.type == 'unknown'"
								        dnd-moved="projectTeam.members.splice($index, 1)"
								        dnd-effect-allowed="move"
								        class="background-{{mem.type}}">
												<div dnd-handle class="handle">
													:::
												</div>
												<div class="name">
													<p>{{mem.id}}</p>
													<p>{{mem.name}}</p>
													<p>{{mem.internalCost}}</p>
												</div>
								    </li>
								    <li class="dndPlaceholder">
								        Drop any
												<strong>{{projectTeam.allowedTypes.join(' or ')}}</strong>
												here
								    </li>
								</ul>
							</div>
						</div>
						<div class="choice">
							<div class="choice_header">
								<h3>Pool</h3>
							</div>
							<div class="choice_body">
								<ul dnd-list="employeesWithCosts.items"
								    dnd-allowed-types="employeesWithCosts.allowedTypes">
								    <li ng-repeat="emp in employeesWithCosts.items"
								        dnd-draggable="emp"
								        dnd-type="emp.type"
								        dnd-disable-if="emp.type == 'unknown'"
								        dnd-moved="employeesWithCosts.items.splice($index, 1)"
								        dnd-effect-allowed="move"
								        class="background-{{emp.type}}">
												<div dnd-handle class="handle">
													:::
												</div>
												<div class="name">
													<p>{{emp.id}}</p>
													<p>{{emp.name}}</p>
													<p>{{emp.internalCost}}</p>
												</div>
								    </li>
								    <li class="dndPlaceholder">
								        Drop any
												<strong>{{employeesWithCosts.allowedTypes.join(' or ')}}</strong>
												here
								    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="spacer"></div>
			<div class="budget_distrib">
				<div class="budgetvalues" ng-repeat="budget in project.budgets | filter : budgetFilter">
					<div class="header">
						<span class="month">
							<b>{{budget.month}}</b>
						</span>
						<div class="dateinterval">
							<span>&#40; da: <b>{{budget.from}}</b></span>
							<span>a: <b>{{budget.to}}</b> &#41;</span>
						</div>
					</div>
					<div class="globaldetail">
						<label for="budgetamount">Budget mensile:</label>
						<input class="ng-binding" ng-model="budget.amount" name="budgetamount" id="budgetamount" type="number"></input>
						<label for="budgetdays">Giornate previste:</label>
						<input class="ng-binding" ng-model="budget.days" name="budgetdays" id="budgetdays" type="number" min="1" max="100"></input>
					</div>
					<div class="windowdetail">
						<table>
							<thead></thead>
							<tbody>
								<tr>
									<td>Giorni:</td>
									<td ng-repeat="window in budget.windows">
										{{window.day}}
									</td>
								</tr>
								<tr>
									<td>SAL:</td>
									<td ng-repeat="window in budget.windows">
										{{window.sal}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="spacer"></div>
			<!--div class="sal">
				<h4>Percentuale di avanzamento:</h4>
				<div class="salvalues" ng-repeat="sal in project.sals">
					<span class="saldate">
						<b>{{sal.isoDate}}</b>
					</span>
					<span class="salpercentage">
						<label for="salpercentage">%:</label>
						<input class="ng-binding" ng-model="sal.percentage" name="salpercentage" id="salpercentage" type="number"></input>
					</span>
				</div>
			</div>
			<div class="budget_to_sal">
				<h4>Confronto:</h4>
			</div-->

		</div>
		<div class="bottom">
			<div class="form-group">
				<button class="btn btn-default" ng-click="save(projectModifyForm.$valid)">Salva progetto</button>
				<p ng-show="projectModifyForm.$invalid && submitted" class="errormessage">
					Inserisci i campi mancanti nella form
				</p>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
