<h1>Nuovo progetto</h1>
<hr>
<section>
<form name="projectCreateForm" novalidate>
	<fieldset>
		<div class="top">
			<div class="form-group customer">
				<p>Nome cliente:</p>
				<input class="ng-binding" ng-model="customer.name"></input>
			</div>
		</div>
		<div class="top">
			<div class="form-group project">
				<p>Nome progetto:</p>
				<input class="ng-binding" ng-model="project.name"></input>
			</div>
			<div class="form-group project">
				<p>Codice progetto:</p>
				<input class="ng-binding" ng-model="project.code"></input>
			</div>
		</div>
		<div class="top">
			<div class="form-group budgettot">
				<p>Budget totale:</p>
				<input class="ng-binding" ng-model="project.budgettot"></input>
			</div>
			<div class="form-group budgettot">
				<p>Giorni totali:</p>
				<input class="ng-binding" ng-model="project.daystot"></input>
			</div>
		</div>
		<div class="center">
			<div class="budget_period">
				<h4>Scegli l'intervallo</h4>
				<div class="datepickerfrom">
					<label for="datepickerfrom">Da:</label>
					<input class="ng-binding" id="datepickerfrom" type="text"
								ng-model="project.from" size="10"
								ng-blur="getBudgets(project.budgettot, project.daystot, project.from, project.to)">
					<img src="./../../img/datepik.gif" ng-click="datepickerfrom.show()"></img>
				</div>
				<div class="datepickerto">
					<label for="datepickerto">A:</label>
					<input class="ng-binding" id="datepickerto" type="text"
								ng-model="project.to" size="10"
								ng-blur="getBudgets(project.budgettot, project.daystot, project.from, project.to)">
					<img src="./../../img/datepik.gif" ng-click="datepickerto.show()"></img>
				</div>
			</div>

			<div class="budget_distrib">
				<div class="budgetvalues" ng-repeat="budget in project.budgets">
					<span class="month">
						<b>{{budget.month}}</b>
					</span>
					<span class="dateinterval">
						<span>Da: <b>{{budget.from}}</b></span>
						<span>A: <b>{{budget.to}}</b></span>
					</span>
					<span class="budgetvalues">
						<span>Budget mensile: <b>{{budget.amount}}</b></span>
						<span>Giornate previste: <b>{{budget.days}}</b></span>
					</span>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="form-group">
				<button class="btn btn-default" ng-click="save()">Salva progetto</button>
			</div>
		</div>
	</fieldset>
</form>
<hr>
</section>
